<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>{ifset title}{include title|stripHtml} | {/ifset}HeartcoreTattoo.cz</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		  href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"/>
	<link rel="stylesheet" href="{$baseUrl}/style/style.css">
</head>

<body>
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

<div class="site">
	<a class="fb-link" href="https://www.facebook.com/heartcoretattoo/" target="_blank"><img src="{$basePath}/img/fb-icon.png"></a>


	<div class="container-fluid">
		<header>
			<a href="/" class="web-logo">
				<img src="{$baseUrl}/img/logo.png" alt="" class="logo">
			</a>

			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand visible-xs" href="/">HeartcoreTattoo.cz</a>
				</div>

				{control navigationControl, 'default'}
			</nav>

			<img n:if="$presenter->isLinkCurrent('Homepage:default')" src="{$baseUrl}/img/cover.jpg" alt="" class="cover">
		</header>
		<main>
			{include content}
		</main>
		<footer>
			HeartcoreTattoo.cz {date('Y')}<br>
			Realizace <a href="https://jkotrba.net" target="_blank">Jan&nbsp;Kotrba</a>
		</footer>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
	window.addEventListener("load", function () {
		window.cookieconsent.initialise({
			"palette": {
				"popup": {
					"background": "#000"
				},
				"button": {
					"background": "#EC0013"
				}
			},
			"theme": "edgeless",
			"content": {
				"message": "Tento web používá k poskytování služeb, personalizaci reklam a analýze návštěvnosti soubory cookie. Používáním tohoto webu s tím souhlasíte.",
				"dismiss": "Souhlasím",
				"link": "Více informací",
				"href": "https://www.google.com/policies/technologies/cookies/"
			}
		})
	});
</script>

{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
{/block}
</body>
</html>
