<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>{ifset title}{include title|stripHtml} | {/ifset}HeartcoreTattoo.cz</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		  href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"/>
	<link rel="stylesheet" href="{$baseUrl}/style/style.css">
</head>

<body>
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

<div class="container-fluid">
	<header>
		<a href="/">
			<img src="{$baseUrl}/img/logo.png" alt="" class="logo">
		</a>

		<nav class="navbar navbar-default">
			{*<div class="container-fluid">*}
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand visible-xs" href="/">HeartcoreTattoo.cz</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					{*<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>*}
					{*<li><a href="#">Link</a></li>*}


					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
						   aria-expanded="false">TATTOO <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">INFORMACE</a></li>
							<li><a href="#">CENÍK</a></li>
							<li><a href="#">PÉČE O TETOVÁNÍ</a></li>
							{*<li><a href="#">Another action</a></li>*}
							{*<li><a href="#">Something else here</a></li>*}
							{*<li role="separator" class="divider"></li>*}
							{*<li><a href="#">Separated link</a></li>*}
							{*<li role="separator" class="divider"></li>*}
							{*<li><a href="#">One more separated link</a></li>*}
						</ul>
					</li>

					<li><a href="#">KDE NÁS NAJDETE</a></li>
					<li><a href="#">KONTAKT</a></li>
				</ul>
				{*<form class="navbar-form navbar-left">*}
				{*<div class="form-group">*}
				{*<input type="text" class="form-control" placeholder="Search">*}
				{*</div>*}
				{*<button type="submit" class="btn btn-default">Submit</button>*}
				{*</form>*}
				{*<ul class="nav navbar-nav navbar-right">*}
				{*<li><a href="#">Link</a></li>*}
				{*<li class="dropdown">*}
				{*<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"*}
				{*aria-expanded="false">Dropdown <span class="caret"></span></a>*}
				{*<ul class="dropdown-menu">*}
				{*<li><a href="#">Action</a></li>*}
				{*<li><a href="#">Another action</a></li>*}
				{*<li><a href="#">Something else here</a></li>*}
				{*<li role="separator" class="divider"></li>*}
				{*<li><a href="#">Separated link</a></li>*}
				{*</ul>*}
				{*</li>*}
				{*</ul>*}
			</div><!-- /.navbar-collapse -->
			{*</div><!-- /.container-fluid -->*}
		</nav>

		<img src="{$baseUrl}/img/cover.jpg" alt="" class="cover">
	</header>
	<main>
		{include content}
	</main>
	<footer>
		HeartcoreTattoo.cz {date('Y')}
	</footer>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
	window.addEventListener("load", function () {
		window.cookieconsent.initialise({
			"palette": {
				"popup": {
					"background": "#000"
				},
				"button": {
					"background": "#EC0013"
				}
			},
			"theme": "edgeless",
			"content": {
				"message": "Tento web používá k poskytování služeb, personalizaci reklam a analýze návštěvnosti soubory cookie. Používáním tohoto webu s tím souhlasíte.",
				"dismiss": "Souhlasím",
				"link": "Více informací",
				"href": "https://www.google.com/policies/technologies/cookies/"
			}
		})
	});
</script>

{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
{/block}
</body>
</html>
