@font-face {
  font-family: 'Typewriter';
  src: url("/fonts/bohemian-typewriter.ttf") format("truetype"); }
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; }

body {
  background: white url(/img/background.jpg) no-repeat top center;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  font-family: 'Typewriter', Verdana;
  font-size: 15px; }

.site a.fb-link {
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: 0.7;
  transition: 0.2s; }
  .site a.fb-link:hover {
    opacity: 1; }
  .site a.fb-link img {
    max-width: 45px; }
.site .container-fluid {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }
  .site .container-fluid header {
    width: 100%;
    display: block;
    margin: 15px 0;
    font-size: 16px; }
    .site .container-fluid header > a {
      display: inline-block; }
    .site .container-fluid header .navbar-default {
      background-color: rgba(255, 255, 255, 0.9);
      margin-bottom: 15px;
      margin-top: 15px;
      border: 1px solid #d0d0d0;
      min-height: unset; }
      .site .container-fluid header .navbar-default, .site .container-fluid header .navbar-default .dropdown-menu {
        border-radius: 0; }
      .site .container-fluid header .navbar-default .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: #232323; }
      .site .container-fluid header .navbar-default .navbar-nav > li:hover > a, .site .container-fluid header .navbar-default .navbar-nav > li.open > a, .site .container-fluid header .navbar-default .navbar-nav > li.active > a {
        color: #EC0013;
        background-color: rgba(109, 110, 113, 0.1) !important; }
      .site .container-fluid header .navbar-default .dropdown-menu > li > a {
        padding-top: 6px;
        padding-bottom: 6px; }
      .site .container-fluid header .navbar-default .dropdown-menu > li > a:hover {
        color: #EC0013; }
      @media (min-width: 768px) {
        .site .container-fluid header .navbar-default .navbar-nav {
          text-align: center;
          width: 100%; }
          .site .container-fluid header .navbar-default .navbar-nav > li {
            display: inline-block;
            float: none; } }
    @media (max-width: 1100px) {
      .site .container-fluid header .navbar-default {
        border-left: 0;
        border-right: 0; } }
    .site .container-fluid header a.web-logo {
      margin: auto;
      display: block;
      max-width: 275px; }
      .site .container-fluid header a.web-logo img.logo {
        width: 100%; }
    .site .container-fluid header img.cover {
      box-shadow: rgba(24, 24, 24, 0.5) 5px 5px 12px; }
    @media (max-width: 768px) {
      .site .container-fluid header a.web-logo {
        margin: 0 0 0 10px;
        width: 65%;
        max-width: unset; }
      .site .container-fluid header img.cover {
        height: 200px; } }
  .site .container-fluid main .block {
    background: rgba(15, 15, 15, 0.9);
    padding: 20px;
    box-shadow: rgba(24, 24, 24, 0.5) 5px 5px 12px;
    margin-bottom: 15px;
    color: #f5f5f5; }
  .site .container-fluid main h2 {
    margin-top: 0;
    margin-bottom: 20px; }
  .site .container-fluid main p {
    line-height: 26px;
    margin: 0 0 14px; }
    .site .container-fluid main p:last-child {
      margin-bottom: 0; }
  .site .container-fluid footer {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    padding: 0 10px 15px; }

.cc-window {
  color: #f5f5f5;
  font-family: 'Typewriter', Verdana;
  font-size: 14px; }

/*# sourceMappingURL=style.css.map */
